.hm-text-pad{
 padding-top: 114px;
}
.hm-text-pad2{
padding-right: 107px;
}
.text-align{
 text-align: center;
}
.brk-space{
   		width: 34%;
}
.content-of-home{
		font-size: 31px;
}
.content-of-home2{
	padding-right: 107px;
font-size: 31px;
}