#pion-nav{
	margin-bottom: 0px;
}
.home-first-txt{
    min-height: 300px;
    text-align: center;
    padding-top: 114px;
}
#home-abt-txt{
    min-height: 500px;
    text-align: center;
    color: black;
}
#footer-licence-container{
	background: #dc4c4c;
    min-height: 100px;
    text-align: right;
    padding-top: 44px;
    padding-right: 72px;
    color: white;
    font-weight: bold;
}
#footer-container{
	    margin-top: 0px !important;
}